name: oak ci

on: [push, pull_request]

jobs:
  build:
    name: oak server tests
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v2
      - name: download deno
        uses: denolib/setup-deno@master
        with:
          deno-version: v1.1.0

      - name: check format
        run: deno fmt --check

      - name: run tests
        run: deno test --allow-read --allow-write
