name: ci

on: [push, pull_request]

jobs:
  build:
    name: tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - name: download deno
        uses: denoland/setup-deno@main
        with:
          deno-version: 1.19.2

      - name: check format
        if: matrix.os == 'ubuntu-latest'
        run: deno fmt --check

      - name: check linting
        if: matrix.os == 'ubuntu-latest'
        run: deno lint

      - name: generate bundle
        run: deno bundle --import-map import-map.json mod.ts oak.bundle.js

      - name: run tests
        run: deno test --import-map import-map.json --allow-read --allow-write --allow-net --jobs 4 --ignore=npm
      
      - name: run tests no check
        run: deno test --import-map import-map.json --allow-read --allow-write --allow-net --no-check --jobs 4 --ignore=npm

      - name: run tests unstable
        run: deno test --coverage=./cov --import-map import-map.json --allow-read --allow-write --allow-net --unstable --jobs 4 --ignore=npm

      - name: test build for Node.js
        if: matrix.os == 'ubuntu-latest'
        run: deno run --allow-read --allow-write --allow-net --allow-env --allow-run _build_npm.ts

      - name: generate lcov
        if: matrix.os == 'ubuntu-latest'
        run: deno coverage --unstable --lcov ./cov > cov.lcov

      - name: upload coverage
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v1
        with:
          files: cov.lcov
